<!DOCTYPE html>
<html>
<head>
  <title>Lost Germany</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="map"></div>
<div id="floating-menu">
  <button class="menu-button">Funktion 1</button>
  <button class="menu-button">Funktion 2</button>
  <button class="menu-button">Funktion 3</button>
  <button class="menu-button">Funktion 4</button>
  <button class="menu-button">Funktion 5</button>
</div>
<div id="image-modal" class="image-modal">
  <span class="close-image-modal">&times;</span>
  <img class="image-modal-content" id="image-modal-img">
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  <div class="thumbnail-container" id="thumbnail-container"></div>
</div>
<script src="../static/js/script.js"></script>
</body>
</html>
